<!doctype html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Банбу</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/bangboo-stats-style.css') }}">
	<script src="{{ url_for('static', filename='js/bangboo.js') }}"></script>
</head>
<body>
	<div class="main-panel">
		<a class="exit-button" href="{{ url_for('index') }}">В главное меню</a>
		<h1 class="main-panel-title">Банбу</h1>
		<div class="main-bangboo-container">
			{% for b in bangboo %}
				<form class="main-bangboo-card" method="POST" action="/bangboo_stats/update">
					<input type="hidden" name="bangboo_id" value="{{ b.bangboo_id }}">
					<div class="image-container">
						<img class="bangboo-images" src="{{ url_for('static', filename='images/bangboo/' + b.bangboo_image_url) }}">
					</div>
					<div class="bangboo-content">
						<div class="bangboo-name">{{ b.bangboo_name }}</div>
						<div class="row">
							<span style="color: maroon; margin: 0 0 0 10px;">Класс:</span>
							<span class="bangboo-combo-box">{{ b.bangboo_class }}</span>
						</div>
						<div class="row">
							<span style="color: maroon; margin: 0 0 0 10px;">Уровень:</span>
							<div>
								<select name="bangboo_level" class="bangboo-combo-box">
									{% for i in range(0, 61) %}
										<option value="{{ i }}" {% if b.bangboo_level == i %}selected{% endif %}>
											{{ i }}
										</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="row">
							<span style="color: maroon; margin: 0 0 0 10px;">Звёзд:</span>
							<div>
								<select name="bangboo_stars" class="bangboo-combo-box">
									{% for i in range(0, 7) %}
										<option value="{{ i }}" {% if b.bangboo_stars == i %}selected{% endif %}>
											{{ i }}
										</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="save-button-wrapper">
							<input type="submit" value="Сохранить" class="save-button" style="width: 100%;">
						</div>
					</div>
				</form>
			{% endfor %}
		</div>
	</div>
</body>