<!doctype html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Каверна</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/func-menus-style.css') }}">
	<script src="{{ url_for('static', filename='js/hollow.js') }}"></script>
</head>
<body>
{% set current_hollow = request.args.get('hollow') %}
	<div class="sidebar">
		<h2>Локации</h2>
		<ul class="sidebar-list">
			<li class="exit-button">
				<a href="{{ url_for('index') }}">В главное меню</a>
			</li>
			<li class="complete-buttons">
				<form method="post" action="{{ url_for('hollow_stats.complete_all') }}">
					<button type="submit" class="complete-all-button">Выполнить всё</button>
				</form>
				<form method="post" action="{{ url_for('hollow_stats.disable_all') }}">
					<button type="submit" class="complete-all-button">Провалить всё</button>
				</form>
				<form method="get" action="{{ url_for('hollow_stats.list_data') }}">
					<button type="submit" class="complete-all-button">Вывести все записи</button>
				</form>
			</li>
			{% for hollow in all_certain %}
				{% set count = summary[hollow] %}
					<li class="{% if hollow == current_hollow %}active{% endif %}">
						<a href="?hollow={{ hollow }}">
							{{ hollow }}
							<span class="column-content-count {% if count.completed == count.total %}completed{% endif %}">
								{{ count.completed }} / {{ count.total }}
							</span>
						</a>
					</li>
			{% endfor %}
		</ul>
	</div>

	<div class="content">
		<h1 class="main-panel-title">Каверна</h1>
		<div class="one-columns">
			<div class="column">
			{% for ach in all_data if not current_hollow or ach.hollow_name == current_hollow %}
				
					<form method="post" action="{{ url_for('hollow_stats.update_status') }}">
						<input type="hidden" name="hollow_id" value="{{ ach.hollow_id }}">
						<button type="submit" class="column-content-btn">
							<div class="column-content {{ 'ach-completed' if ach.hollow_status == 'Пройдено' }}">
								<div class="column-content-info">
									<strong>{{ ach.hollow_location }}</strong>
									<small>{{ ach.hollow_subname }}</small>
								</div>
								<span class="status {{ 'completed' if ach.hollow_status == 'Пройдено' else 'not-completed' }}">
									{{ ach.hollow_status }}
								</span>
							</div>
						</button>
					</form>
			{% endfor %}
			</div>
		</div>
	</div>
</body>
</html>
