<!doctype html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Персонажи</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/characters-stats-style.css') }}">
</head>
<body>
	<div class="main-panel">
		<a class="exit-button" href="{{ url_for('index') }}">В главное меню</a>
		<h1 class="main-panel-title">Персонажи</h1>
		<h1 class="main-panel-second-title">Введите в поля данные, соответствующие вашему прогрессу и нажмите "Сохранить". Один персонаж за раз.</h1>
		<div class="main-character-container">
			{% for c in characters %}
				<form class="main-character-card" method="POST" action="/characters_stats/update">
					<input type="hidden" name="character_id" value="{{ c.character_id }}">
					<div class="character-left">
						<div class="image-container">
							<img class="character-images" src="{{ url_for('static', filename='images/characters/' + c.character_image_url) }}">
						</div>
						<div class="character-content">
							<div>{{ c.character_name }}</div>
							<div style="font-size: 16px; color: gray; margin: 0 0 20px 0;">{{ c.character_type }}</div>
							<div class="row-left">
								<span style="color: maroon; margin: 0 0 0 10px;">Класс:</span>
								<span class="character-combo-box-left">{{ c.character_class }}</span>
							</div>
							<div class="row-left">
								<span style="color: maroon; margin: 0 0 0 10px;">Уровень:</span>
								<div>
									<select name="character_level" class="character-combo-box-left">
										{% for i in range(0, 61) %}
											<option value="{{ i }}" {% if c.character_level == i %}selected{% endif %}>
												{{ i }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row-left">
								<span style="color: maroon; margin: 0 0 0 10px;">Ментальная картина:</span>
								<div>
									<select name="character_mental_picture" class="character-combo-box-left">
										{% for i in range(0, 7) %}
											<option value="{{ i }}" {% if c.character_mental_picture == i %}selected{% endif %}>
												{{ i }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="character-right">
						<div class="character-content">
							<div class="row-right">
								<span style="color: maroon;">Базовая атака:</span>
								<div>
									<select name="character_skill_1" class="character-combo-box">
										{% for i in range(0, 13) %}
											<option value="{{ i }}" {% if c.character_skill_1 == i %}selected{% endif %}>
												{{ i }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row-right">
								<span style="color: maroon;">Уклонение:</span>
								<div>
									<select name="character_skill_2" class="character-combo-box">
										{% for i in range(0, 13) %}
											<option value="{{ i }}" {% if c.character_skill_2 == i %}selected{% endif %}>
												{{ i }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row-right">
								<span style="color: maroon;">Помощь:</span>
								<div>
									<select name="character_skill_3" class="character-combo-box">
										{% for i in range(0, 13) %}
											<option value="{{ i }}" {% if c.character_skill_3 == i %}selected{% endif %}>
												{{ i }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row-right">
								<span style="color: maroon;">Особая атака:</span>
								<div>
									<select name="character_skill_4" class="character-combo-box">
										{% for i in range(0, 13) %}
											<option value="{{ i }}" {% if c.character_skill_4 == i %}selected{% endif %}>
												{{ i }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row-right">
								<span style="color: maroon;">Цепочка атак:</span>
								<div>
									<select name="character_skill_5" class="character-combo-box">
										{% for i in range(0, 13) %}
											<option value="{{ i }}" {% if c.character_skill_5 == i %}selected{% endif %}>
												{{ i }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row-right">
								<span style="color: maroon;">Усиление задатков (A-F):</span>
								<div>
									<select name="character_skill_strength" class="character-combo-box">
										{% for i in ['A','B','C','D','E','F'] %}
											<option value="{{ i }}" {% if c.character_skill_strength == i %}selected{% endif %}>
												{{ i }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row-right">
								<span style="color: maroon;">Уровень диска 1:</span>
								<div>
									<select name="character_disk_1" class="character-combo-box">
										{% for i in range(0, 61) %}
											<option value="{{ i }}" {% if c.character_disk_1 == i %}selected{% endif %}>
												{{ i }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row-right">
								<span style="color: maroon;">Уровень диска 2:</span>
								<div>
									<select name="character_disk_2" class="character-combo-box">
										{% for i in range(0, 61) %}
											<option value="{{ i }}" {% if c.character_disk_2 == i %}selected{% endif %}>
												{{ i }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row-right">
								<span style="color: maroon;">Уровень диска 3:</span>
								<div>
									<select name="character_disk_3" class="character-combo-box">
										{% for i in range(0, 61) %}
											<option value="{{ i }}" {% if c.character_disk_3 == i %}selected{% endif %}>
												{{ i }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row-right">
								<span style="color: maroon;">Уровень диска 4:</span>
								<div>
									<select name="character_disk_4" class="character-combo-box">
										{% for i in range(0, 61) %}
											<option value="{{ i }}" {% if c.character_disk_4 == i %}selected{% endif %}>
												{{ i }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row-right">
								<span style="color: maroon;">Уровень диска 5:</span>
								<div>
									<select name="character_disk_5" class="character-combo-box">
										{% for i in range(0, 61) %}
											<option value="{{ i }}" {% if c.character_disk_5 == i %}selected{% endif %}>
												{{ i }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row-right">
								<span style="color: maroon;">Уровень диска 6:</span>
								<div>
									<select name="character_disk_6" class="character-combo-box">
										{% for i in range(0, 61) %}
											<option value="{{ i }}" {% if c.character_disk_6 == i %}selected{% endif %}>
												{{ i }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row-right">
								<span style="color: maroon;">Уникальный амплификатор:</span>
								<div>
									<select name="character_amplificator_unique" class="character-combo-box">
										{% for i in ['Нет','Да'] %}
											<option value="{{ i }}" {% if c.character_amplificator_unique == i %}selected{% endif %}>
												{{ i }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row-right">
								<span style="color: maroon;">Уровень амплификатора:</span>
								<div>
									<select name="character_amplificator_level" class="character-combo-box">
										{% for i in range(0, 61) %}
											<option value="{{ i }}" {% if c.character_amplificator_level == i %}selected{% endif %}>
												{{ i }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row-right">
								<span style="color: maroon;">Звёзд амплификатора:</span>
								<div>
									<select name="character_amplificator_stars" class="character-combo-box">
										{% for i in range(0, 7) %}
											<option value="{{ i }}" {% if c.character_amplificator_stars == i %}selected{% endif %}>
												{{ i }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<input type="submit" value="Сохранить" class="save-button" style="width: 100%;">
					</div>
				</form>
			{% endfor %}
		</div>
	</div>
</body>