<!doctype html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Главное меню</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/mainmenu-style.css') }}">
</head>
<body>
	<div class="left-panel">
		<h1 class="left-panel-title">Общее</h1>
		<div class="left-panel-list">
			{% for key, section in sections.items() %}
				<li>
					<a href="{{ url_for(section.endpoint) }}">
						{{ section.title }}
						<span>({{ section.total.completed }}/{{ section.total.total }})</span>
					</a>
				</li>
			{% endfor %}
		</div>
	</div>
	<div class="main-panel">
		<h1 class="main-panel-title">Статистика</h1>
		<div class="main-container">
			{% for key, section in sections.items() %}
				<div class="main-card">
					<h2 class="main-card-title">{{ section.title }}</h2>
					<ul class="main-card-info-list">
						{% for item in section.list %}
							{% set count = section.summary[item] %}
							<li class="info-list">
								<span class="info-name">{{ item }}</span>
								<span class="info-stats {% if count.completed == count.total %}completed{% endif %}">
									{{ count.completed }} / {{ count.total }}
								</span>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endfor %}
		</div>
	</div>
</body>