<!doctype html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Главное меню</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/mainmenu-style.css') }}">
</head>
<body>
	<div class="left-panel">
		<h1 class="left-panel-title">Общее</h1>
		<a class="left-panel-button" href="{{ url_for('bangboo_stats.list_bangboo') }}">Банбу</a>
		<a class="left-panel-button" href="{{ url_for('characters_stats.list_characters') }}">Персонажи</a>
		<a class="left-panel-button" href="{{ url_for('mewmew_stats.list_mewmew') }}">
			Инспектор Мяучело ({{ total_mewmew.completed }}/{{ total_mewmew.total }})
		</a>

		<h2 class="left-panel-sec-title">Шестая улица</h2>
		<a class="left-panel-button" href="{{ url_for('godfinger_stats.list_godfinger') }}">
			Годфингер ({{ total_stats.completed }}/{{ total_stats.total }})
		</a>
		
	</div>
	<div class="main-panel">
		<h1 class="main-panel-title">Статистика</h1>
		<div class="main-container">
			<div class="main-card">
				<h2 class="main-card-title">Годфингер</h2>
				<ul class="main-card-info-list">
					{% for game in games_list %}
						{% set count = summary[game] %}
						<li class="info-list">
							<span class="info-name">{{ game }}</span>
							<span class="info-stats {% if count.completed == count.total %}completed{% endif %}">
								{{ count.completed }} / {{ count.total }}
							</span>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="main-card">
				<h2 class="main-card-title">Инспектор Мяучело</h2>
				<ul class="main-card-info-list">
					{% for mew in mewmew_list %}
						{% set count = mewmew_summary[mew] %}
						<li class="info-list">
							<span class="info-name">{{ mew }}</span>
							<span class="info-stats {% if count.completed == count.total %}completed{% endif %}">
								{{ count.completed }} / {{ count.total }}
							</span>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</body>