@font-face{
	font-family: 'mr_norwesterG';
	src: url('/static/fonts/mr_norwesterG.otf') format('opentype');
}

@font-face{
	font-family: 'Norwester';
	src: url('/static/fonts/norwester.otf') format('opentype');
}

body{
	display: flex;
	margin: 0;
	padding: 0;
	font-family: mr_norwesterG, Courier;
	background: black;
}

.left-panel{
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 20px 0 20px;
}

.left-panel-title{
	font-size: 30px;
	margin: 20px 0 0 0;
}

.left-panel-sec-title{
	font-size: 30px;
	margin: 60px 0 0 0;
}

.left-panel-button{
	width: 250px;
	margin: 20px 0 0 0;
	text-align: center;
	font-family: mr_norwesterG, Courier;
	background: transparent;
	color: black;
	padding: 10px 20px;
	text-decoration: none;
	transition: 0.1s;
	cursor: pointer;
	border: 2px dashed gray;
	justify-content: space-between;
}

.left-panel-button:hover{
	background: black;
	color: white;
	border: 2px dashed white;
}

.main-panel{
	width: 100%;
	background: white;
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0 0 0 5px;
}

.main-panel-title{
	margin: 20px 0 0 0;
	padding: 0 0 10px 0;
	text-align: center;
}

.main-container{
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.main-card{
	border: 2px dashed gray;
	padding: 10px;
	align-items: center;
}

.main-card-title{
	font-size: 24px;
	text-align: center;
	margin: 5px 0 10px 0;
	font-weight: 400;
	color: darkblue;
}

.main-card-info-list{
	list-style: none;
	padding: 0;
	margin: 0;
}

.info-list{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px dashed gray;
}

.info-name{
	padding: 5px;
}

.info-stats{
	padding: 5px;
	color: black;
	width: 15%;
	text-align: center;
}

.info-stats.completed {
	background: green;
	color: white;
}