@font-face{
	font-family: 'mr_norwesterG';
	src: url('/static/fonts/mr_norwesterG.otf') format('opentype');
}

@font-face{
	font-family: 'Norwester';
	src: url('/static/fonts/norwester.otf') format('opentype');
}

body{
	display: flex;
	margin: 0;
	padding: 0;
	font-family: mr_norwesterG, Courier;
	background: black;
}

.left-panel{
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	padding: 0 20px 0 20px;
}

.left-panel-title{
	font-size: 30px;
	margin: 20px 0 0 0;
}

.left-panel-sec-title{
	font-size: 30px;
	margin: 60px 0 0 0;
}

.left-panel-button{
	width: 200px;
	margin: 20px 0 0 0;
	text-align: center;
	font-family: mr_norwesterG, Courier;
	background: transparent;
	color: black;
	padding: 10px 20px;
	text-decoration: none;
	transition: 0.1s;
	cursor: pointer;
	border: 2px dashed gray;
}

.left-panel-button:hover{
	background: black;
	color: white;
	border: 2px dashed white;
}