@font-face{
	font-family: 'mr_norwesterG';
	src: url('/static/fonts/mr_norwesterG.otf') format('opentype');
}

@font-face{
	font-family: 'Norwester';
	src: url('/static/fonts/norwester.otf') format('opentype');
}

body{
	display: flex;
	margin: 0;
	padding: 0;
	font-family: mr_norwesterG, Courier;
	background: black;
}

.left-panel{
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 20px;
}

.left-panel-title{
	margin: 20px 0 20px 0;
	border-bottom: 2px solid orange;
	padding: 0 0 20px 0;
}

.left-panel-button{
	display: inline-block;
	width: 200px;
	margin-bottom: 5px;
	text-align: center;
	font-family: mr_norwesterG, Courier;
	background: yellow;
	color: black;
	padding: 10px 20px;
	border-radius: 10px;
	text-decoration: none;
	transition: 0.1s;
	cursor: pointer;
	border: 2px solid red;
}

.left-panel-button:hover{
	background: orange;
	transform: scale(0.99);
}

.main-panel{
	margin: 0 10px 0 10px;
	width: 100%;
	height: 10%;
	background: white;
}

.main-panel-title{
	margin: 20px 0 0 0;
	padding: 0 0 10px 0;
	text-align: center;
}

.main-panel-second-title{
	font-size: 24px;
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
	text-align: center;
	border-bottom: 2px solid black;
	font-weight: 400;
}

.main-container{
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 10px;
}

.main-card{
	display: flex;
	flex-direction: column;
	padding: 20px 0 20px 0;
	background: white;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 0px 10px black;
	text-decoration: none;
	color: black;
	transition: transform 0.2s;
	font-size: 22px;
	align-items: center;
	height: 500px;
}

table{
	width: 250px;
}

img{
	margin: 0 0 20px 0;
	width: auto;
	height: 100%;
}


.text-field{
	width: 20px;
	font-family: mr_norwesterG, Courier;
	margin: 0 0 0 0;
	border: none;
	font-size: 20px;
}

.save-button{
	width: 250px;
	height: 50px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin: 10px 0 0 0;
	font-family: mr_norwesterG, Courier;
	font-size: 20px;
	transition: 0.1s;
}

.save-button:hover{
	background-color: black;
	color: white;
}