@font-face{
	font-family: 'mr_norwesterG';
	src: url('/static/fonts/mr_norwesterG.otf') format('opentype');
}

@font-face{
	font-family: 'Norwester';
	src: url('/static/fonts/norwester.otf') format('opentype');
}

body{
	display: flex;
	margin: 0;
	padding: 0;
	font-family: mr_norwesterG, Courier;
	background: black;
}

.main-panel{
	width: 100%;
	background: white;
	display: flex;
	flex-direction: column;
	position: relative;
}

.main-panel-title{
	margin: 20px 0 0 0;
	padding: 0 0 10px 0;
	text-align: center;
}

.main-panel-second-title{
	font-size: 24px;
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
	text-align: center;
	border-bottom: 2px solid black;
	font-weight: 400;
}

.main-character-container{
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(610px, 1fr));
	gap: 20px;
}

.main-character-card{
	display: flex;
	padding: 10px 0;
	background: white;
	box-shadow: 0 0px 10px black;
	font-size: 22px;
	height: auto;
}

.character-left{
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	text-align: center;
	border-right: 2px dashed lightgray;
	margin: 0 0 0 10px;
}

.character-right{
	width: 100%;
	margin: 0 10px 0 0;
	box-sizing: border-box;
	padding: 10px;
}

.row-left{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.row-right{
	display: grid;
	grid-template-columns: 1fr 120px;
	align-items: center;
}

.character-text-field{
	width: 40px;
	font-family: mr_norwesterG, Courier;
	border: none;
	font-size: 22px;
	text-align: center;
	box-sizing: border-box;
}

.character-combo-box{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 120px;
	height: 30px;
	font-family: mr_norwesterG, Courier;
	border: none;
	font-size: 18px;
	text-align: right;
	box-sizing: border-box;
	background-color: transparent;
	transition: 0.1s;
	cursor: pointer;
}

.character-combo-box:hover{
	background-color: black;
	color: white;
}

.character-combo-box:focus{
	background-color: black;
	color: white;
}

.character-combo-box-left{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 50px;
	height: 30px;
	font-family: mr_norwesterG, Courier;
	border: none;
	font-size: 18px;
	text-align: right;
	box-sizing: border-box;
	background-color: transparent;
	transition: 0.1s;
	cursor: pointer;
	padding: 5px;
	margin: 0 5px 0 0;
}

.character-combo-box-left:hover{
	background-color: black;
	color: white;
}

.character-combo-box-left:focus{
	background-color: black;
	color: white;
}

.save-button{
	width: auto;
	height: 50px;
	background-color: transparent;
	border: 2px dashed black;
	cursor: pointer;
	margin: 50px 10px 5px 0;
	font-family: mr_norwesterG, Courier;
	font-size: 20px;
	transition: 0.1s;
}

.save-button:hover{
	background-color: black;
	color: white;
	border: 2px dashed white;
}

.exit-button{
	align-self: flex-start;
	text-align: center;
	font-family: mr_norwesterG, Courier;
	background: transparent;
	color: black;
	padding: 10px 20px;
	margin: 10px;
	text-decoration: none;
	transition: 0.1s;
	cursor: pointer;
	border: 2px dashed gray;
}

.exit-button:hover{
	background: black;
	color: white;
	border: 2px dashed white;
}

.character-images{
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.image-container{
	width: 300px;
	height: 500px;
	bacground: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}

.character-content{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex-grow: 1;
}
